<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector 
        friendlyName="XPlat Code Coverage"
        inheritOutputLocation="true">
        <Configuration>
          <Format>Cobertura,json</Format>
          <Include>[*]*.csproj</Include>
          <Exclude>[xUnit.*]*,[*]*.Migrations.dll,[*]*.Tests.dll</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>